# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ folders
.idea/

# Ignore Binary files
bin/
ca.mcgill.ecse223.kingdomino/bin


# Ignore Eclipse files
.settings/
.project
.classpath

# Ignore generated save files
src/test/resources/save_game_test.mov
